body {
  background-color: rgb(0, 0, 0);
  /*background-image: url("portfolio/2.jpg");
  background-size: auto;*/
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-warp: break-word;
  overflow-x: hidden;
}

#naglowek {
}

header {
  width: 100%;
}

nav {
  background-color: rgb(32, 32, 32);
  width: 100%;
  position:fixed; z-index: 10;
  left: auto;
  top: auto;
}

#logo {
  float: left;
  position: absolute; z-index: 5;
  /*display: inline-block;*/
  /*margin: 10px;*/
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow:  hidden;
  font-size: 100%;
}

li {
  float: right;
}

li a {
  position: relative; z-index: 6;
  display: block;
  background-color: rgba(32, 32, 32, 0.7);
  /*color: white;*/
  padding: 14px 16px;
  color: #03a9f4;
  font-family: cursive;
  text-align: center;
  text-decoration: none;
}

li a:hover {
  color: #52d613;
}

img {
    max-width: 100%;
    max-height: 100%;
  /*  background-size: contain;*/
}

.pozycja1 {
    position: absolute; bottom: 0px; left: 0px; z-index: 1; /*left: 1cm; top: 10px z-index: 1;*/
    background:  rgba(0, 0, 0, 0.0);
    width: 60%;
    height: 10%;
    padding: 1px;
    text-align: center;
    top:20%;
    left: 10%;
    font-size: 3vmax;
    color: #03a9f4;
    font-family: cursive;
    text-align: center;
    text-decoration: none;
    text-shadow: black 0.1em 0.1em 0.2em;
    font-size-adjust: auto;
    transform: translate(-20%, -80%);
    -ms-transform: translate(20%, -20%);
}

#container {
  background-color: rgba(0, 0, 0, 0.8);
  background-repeat: no-repeat;
  /*position: absolute; z-index: 4;*/
  width: 100%;
  height: 100vh;
  margin-top: -2%;
  /*margin: 10px;*/
}

#platform {
  /*position: absolute; left: 5%; z-index: 4;*/
  background-color: rgba(0, 0, 0, 0);
}

.image{
    float: left;
    margin-top: 2%;
    height: 90vh;
    width: 100%;
    position: absolute; z-index: -1;
}

.image img{
    height: 100%;
    width: 100%;
    /*display: block;*/
}


#about {
  color: #03a9f4;
  font-family: cursive;
  padding-left: 2%;
}

h1 {
  padding-top: 5%;
  padding-left: 2%;
  padding-right: 3%;
  padding-bottom: 0%;
}

#avatar {
  float: left;
  padding: 0% 2% 2% 2%;
}

p {
  float: left;
  padding: 2%;
  width: 25%;
  clear:both;
}

#passion {
  float: right;
  width: 60%;
  height: 60%;
  padding: 5%;
}

#stopka {
  clear: both;
  /*margin: -10px;*/
}

footer {
  position: absolute;
  margin-top: 24%;
  width: 100%;
  height: 2%;
  color: #0288d1;
  font-family: fantasy;
  text-align: center;
  font-size: 90%;
  padding: 1%;
  background-color: rgb(32, 32, 32);
}
